/* Основні змінні для кольорів */
:root {
    --color-primary: #757575;
    --color-accent: #ff4500;
}

/* Загальні стилі */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    margin: 0;
    color: var(--color-primary);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    color: var(--color-primary);
    margin: 0;
}

/* Перша літера кольором акценту */
p::first-letter {
    color: var(--color-accent);
}

.first__letter {
    color: var(--color-accent);
}

/* Контейнери */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

/* Стилі для посилань та логотипу */
.logo {
    color: var(--color-primary);
    font-family: Raleway, sans-serif;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.logo .accent {
    color: var(--color-accent);
}

/* Навігаційне меню */

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-link {
    padding: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: var(--color-primary);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: darkorange;
}

/* Стилі для посилань у навігації */
.nav-link,
.footer-link {
    color: var(--color-primary);
}

.nav-link:focus,
.nav-link:hover,
.footer-link:focus,
.footer-link:hover {
    color: var(--color-accent);
    text-decoration: underline;
}

/* Головний слайдер (hero) */
.hero {
    background-image: url(../img/bb8-gif.gif);
    min-width: 320px;
    min-height: 600px;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}



/* Секція "Про нас" (about) */

.about__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.about__list-item:nth-child(2n) {
    flex-direction: row-reverse;
}

.about-image {
    max-width: 260px;
    border-radius: 150px;
    border-color: var(--color-accent);
    box-shadow: 0 0 0 3px var(--color-accent), 0 0 13px var(--color-primary);
}

/* Галерея (gallery) */
.gallery {
    text-align: center;
    padding: 40px 0;
    margin: 0 auto;
}

.gallery-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.image-slider {
    position: relative;
    overflow: hidden;
}

.image-list {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}

.image-item {
    flex: 0 0 calc(33.333% - 20px);
    margin: 10px;
    transition: transform 0.5s ease;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}

.controls {
    margin-top: 20px;
}

.control-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

.control-button:hover {
    background-color: var(--color-accent);
}

/* Секція "Вміння" (abilities) */

.abilities {
    text-align: center;
}
.abilities__title {
    margin-bottom: 15px;
}

.abilities__list {
    display: flex;
    gap: 10px;
}

.abilities__list-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.abilities__item-img {
    max-width: 250px;
    border-radius: 100%;
}

/* Футер (footer) */

.main__footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    margin-top: 150px;
}

.footer__nav-list {
    display: flex;
    gap: 40px;
}

.footer__social-list {
    display: flex;
    gap: 10px;
}
.copyright__box {
    text-align: center;
    margin-bottom: 10px;
    font-size: 7px;
}

/* Медіа-запити для респонсивного дизайну */


/* Для роздільної здатності 900px і менше */
@media screen and (max-width: 900px) {
    .logo {
        margin-bottom: 15px;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        margin-bottom: 15px;
    }
    
    .nav-link {
        padding: 10px;
    }
 
    .hero {
    min-height: 320px;
    min-width: 320px;
    }

    .about {
        text-align: center;
    }
    .about__list-item {
        flex-direction: column;
        align-items: center;
    }
    .about__list-item:nth-child(2n) {
        flex-direction: column;
    }

    .abilities {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .abilities__list {
        flex-direction: column;
        align-items: center;
    }
    .abilities__list-item {
        align-items: center;
    }
    .main__footer-container {
        flex-direction: column;
        gap: 10px;
    }

        
}

