

:root {
 --color-primyry: #757575;
 --color-accent: #ff4500;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    
}
h1,
h2,
h3 {
    text-transform: uppercase;
    margin: 0;
    color: var(--color-primyry);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
}

p {
    color: var(--color-primyry);
    margin: 0;
}

 p::first-letter {
    color: var(--color-accent);

img {
    margin: 0;
    display: block;
}

}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.first__letter {
    color: var(--color-accent);
}

.header-container {
    width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: #757575;
    font-family: Raleway; 
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.logo .accent {
    color: var(--color-accent)
}

.nav-list {
    display: flex;
    margin-left: 70px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.nav-item {
    margin-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-item:last-child {
    margin-right: 0;
}

.button-list {
    display: flex;
    margin-left: auto;
}

.button-item {
    margin: 5px;
}

.button-item:last-child {
    margin-right: 0;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: gray;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    }

.button:hover {
    background-color: darkorange;
    }


.nav-link,
.footer-link {
    color: var(--color-primyry)
}

.nav-link:focus,
.nav-link:hover,
.footer-link:focus,
.footer-link:hover {
    color: var(--color-accent);
}

.hero {
    background-image:url(../img/bb8-gif.gif);
    min-height: 404px;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}


.about__title-section {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.first__about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first__about-section > p {
    margin-right: 100px;
}

.second__about-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.second__about-section > p {
    margin-left: 100px;
}


.about-image {
    max-width: 150px;
}

.gallery {
    text-align: center;
    padding: 40px 0;
    margin: 0 auto;
}

.gallery-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.image-slider {
    position: relative;
    overflow: hidden;
}

.image-list {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}

.image-item {
    flex: 0 0 calc(33.333% - 20px);
    margin: 10px;
    transition: transform 0.5s ease;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}

.controls {
    margin-top: 20px;
}

.control-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

.control-button:hover {
    background-color: var(--color-accent);
}

/* Abilities */
.abilities__title {
    margin-bottom: 20px;
}

.abilities__title h2 {
    font-size: 2rem;
}

/* Стилі для списку переваг */
.abilities__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items:center;
}


.abilities__list-title {
    margin-bottom: 10px;
}

.abilities__img {
   border-radius: 15px;
   margin-bottom: 10px;
   max-width: 350px;
}


.main__footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    margin-top: 150px;
}
.footer__nav-list {
    display: flex;
    gap: 40px;
}

.footer__social-list {
    display: flex;
    gap: 10px;
}
