

:root {
 --color-primyry: #757575;
 --color-accent: #ff4500;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    
}

h2,
h3 {
    text-transform: uppercase;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
}

p {
    color: var(--color-primyry);
    margin: 0;
    
}

img {
    margin: 0;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

.firsr-letter {
    color: var(--color-accent);
}

.header-container {
    width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
}

.logo {
    color: #757575;
    font-family: Raleway; 
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.logo .accent {
    color: var(--color-accent)
}

.nav-list {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: gray;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    }

.button:hover {
    background-color: darkorange;
    }


.nav-link,
.footer-link {
    color: var(--color-primyry)
}

.nav-link:focus,
.nav-link:hover,
.footer-link:focus,
.footer-link:hover {
    color: var(--color-accent);
}

.gallery {
    text-align: center;
    padding: 40px 0;
    margin: 0 au;
}

.gallery-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.image-item {
    width: 30%;
    margin: 10px;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Стилі для основного блоку */
.abilities-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Стилі для центрованого заголовка */
.center {
    margin-bottom: 20px;
}

.center h2 {
    font-size: 2rem;
}

/* Стилі для списку блоків */
.block-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Стилі для кожного блоку */
.block {
    width: 30%;
    margin: 0 20px;
    text-align: center;
}

.block h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.block p {
    font-size: 1rem;
}